<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>name of todolist</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ detail.name }}</h1>
        <p><a href="{%url "todo_list_update" detail.id %}">Edit</a></p>
        <p><a href="{%url "todo_list_delete" detail.id%}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for detail in detail.items.all %}
            <tr>
              <td>{{ detail.task }}</td>
              <td>{{ detail.due_date }}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
